@model IEnumerable<GreenWorld.Models.University>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bangla-newspaper">
    @*<div class="box-heading box-sections box-block">
            <p>Universities</p>
        </div>*@
    <div class="col-sm-12 text-center">
        <span class="red_button" style="padding-bottom:10px;"> Universities</span>
    </div>
    <div id="cards" class="container mb-2" style="padding-bottom: 1px">
        @{
            if (Model != null && Model.Count() > 0)
            {
                int counter = 0;
                <div class="row">
                    @foreach (var article in Model)
                    {
                        if (counter != 0 && counter % 3 == 0)
                        {
                        @:</div>
                        @:<div class="row">
                        }
                              <a href="/universities/details/@article.Id">
                                  <div class="col-md-4">
                                      <div class="thumbnail">
                                          <img src="@article.ImagePath" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                          <div class="caption">
                                              <h3 id="thumbnail-label">@article.Name</h3>

                                          </div>
                                      </div>
                                  </div>
                              </a>
                        counter++;
                    }
                </div>
            }
        }



    </div>

</div>
